/* Untuk Tablet */
@media all and (max-width: 1000px) {
/*Tulis code untuk header*/



/*Tulis code untuk heading*/





/*Tulis code untuk Our Portofolio*/





/*Tulis code untuk Our Team*/




/*Tulis code untuk cta*/




/*Tulis code untuk Footer*/




}
/* Untuk Smartphone */
@media all and (max-width: 670px) {
/*Tulis code untuk header*/



/*Tulis code untuk heading*/





/*Tulis code untuk Our Portofolio*/





/*Tulis code untuk Our Team*/




/*Tulis code untuk cta*/




/*Tulis code untuk Footer*/



}
